.html
{
	background-color: #2C2C2C;
}

#page
{
	z-index: 1;
	width: 1138px;
	min-height: 452px;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #161616;
	background-color: #1D1D1D;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 30px 37px 32px;
}

#pu202-5
{
	width: 0.01px;
	margin-left: 26px;
	position: relative;
}

#u202-5
{
	z-index: 33;
	width: 281px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 134px;
}

#u204-4
{
	z-index: 38;
	width: 253px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 134px;
}

#u3342
{
	z-index: 56;
	width: 110px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u3342_img
{
	padding-bottom: 1px;
}

#menuu70
{
	z-index: 2;
	width: 630px;
	margin-right: -10000px;
	left: 481px;
}

#u116
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
}

#u117
{
	width: 124px;
	padding-bottom: 103px;
}

#u117:hover
{
	margin: 0px;
}

#u117:active
{
	margin: 0px;
}

#u119-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u117:hover #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u117:active #u119-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u144
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
	left: 126px;
}

#u145
{
	width: 124px;
	padding-bottom: 103px;
}

#u117.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u145:active
{
	margin: 0px;
}

#u147-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u117.MuseMenuActive #u119-4,#u145:hover #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 124px;
	min-height: 128px;
	margin-right: -10000px;
	left: 252px;
}

#u158
{
	width: 124px;
	padding-bottom: 103px;
}

#u145.MuseMenuActive,#u158:hover
{
	margin: 0px;
}

#u158:active
{
	margin: 0px;
}

#u159-4
{
	width: 124px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u145.MuseMenuActive #u147-4,#u158:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u158:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u170
{
	width: 125px;
	min-height: 128px;
	margin-right: -10000px;
	left: 378px;
}

#u171
{
	width: 125px;
	padding-bottom: 103px;
}

#u158.MuseMenuActive,#u171:hover
{
	margin: 0px;
}

#u171:active
{
	margin: 0px;
}

#u173-4
{
	width: 125px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u158.MuseMenuActive #u159-4,#u171:hover #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u432
{
	width: 125px;
	min-height: 128px;
	margin-right: -10000px;
	left: 505px;
}

#u433
{
	width: 125px;
	padding-bottom: 103px;
}

#u171.MuseMenuActive,#u433:hover
{
	margin: 0px;
}

#u433:active
{
	margin: 0px;
}

#u433.MuseMenuActive
{
	margin: 0px;
}

#u435-4
{
	width: 125px;
	min-height: 25px;
	margin-right: -10000px;
	top: 51px;
}

#u171.MuseMenuActive #u173-4,#u433:hover #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u433:active #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u433.MuseMenuActive #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u212
{
	z-index: 46;
	width: 1138px;
	height: 3px;
	margin-top: 17px;
}

#ppu3125-16
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 18px;
	position: relative;
}

#pu3125-16
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u3125-16
{
	z-index: 58;
	width: 640px;
	min-height: 113px;
	color: #FFFFFF;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3125-4,#u3125-7,#u3125-10,#u3125-13
{
	font-size: 24px;
}

#u3125-2,#u3125-6,#u3125-9,#u3125-12
{
	color: #7F7F7F;
}

#u3125-14
{
	font-size: 23px;
}

#pu3128-5
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 75px;
	position: relative;
}

#u3128-5
{
	z-index: 74;
	width: 359px;
	min-height: 54px;
	color: #FFFFFF;
	font-size: 39px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3128-2
{
	color: #FF005D;
}

#u3130-9
{
	z-index: 79;
	width: 621px;
	min-height: 127px;
	color: #C5C5C5;
	line-height: 1.4;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 1px;
}

#u3295
{
	z-index: 88;
	width: 326px;
	position: relative;
	margin-right: -10000px;
	left: 759px;
}

#u214
{
	z-index: 47;
	width: 1138px;
	height: 3px;
	margin-top: 1px;
}

#pu248
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u248
{
	z-index: 48;
	width: 16px;
	margin-right: -10000px;
}

#u260-4
{
	z-index: 42;
	width: 199px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 25px;
}

#u253
{
	z-index: 54;
	width: 26px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 483px;
}

#u262-4
{
	z-index: 50;
	width: 218px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 520px;
}

body
{
	padding-top: 30px;
	padding-bottom: 37px;
}

#page .verticalspacer
{
	clear: both;
}

