#u202-5
{
	color: #FFFFFF;
	font-size: 48px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u202-2
{
	color: #FF005D;
}

#u204-4
{
	color: #7F7F7F;
	font-size: 20px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u117
{
	background-color: #1D1D1D;
	position: relative;
}

#u117:hover
{
	background-color: #FF005D;
}

#u117:active
{
	background-color: #6B6B6B;
}

#u119-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 21px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u145
{
	background-color: #1D1D1D;
	position: relative;
}

#u117.MuseMenuActive,#u145:hover
{
	background-color: #FF005D;
}

#u145:active
{
	background-color: #6B6B6B;
}

#u147-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 21px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u158
{
	background-color: #1D1D1D;
	position: relative;
}

#u145.MuseMenuActive,#u158:hover
{
	background-color: #FF005D;
}

#u158:active
{
	background-color: #6B6B6B;
}

#u159-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 21px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u171
{
	background-color: #1D1D1D;
	position: relative;
}

#u158.MuseMenuActive,#u171:hover
{
	background-color: #FF005D;
}

#u171:active
{
	background-color: #6B6B6B;
}

#u173-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 21px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u433
{
	background-color: #1D1D1D;
	position: relative;
}

#u171.MuseMenuActive,#u433:hover
{
	background-color: #FF005D;
}

#u433:active
{
	background-color: #6B6B6B;
}

#u433.MuseMenuActive
{
	background-color: #FF005D;
}

#u435-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 21px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

#u117.MuseMenuActive #u119-4,#u145.MuseMenuActive #u147-4,#u158.MuseMenuActive #u159-4,#u171.MuseMenuActive #u173-4,#u433.MuseMenuActive #u435-4
{
	border-style: none;
	border-color: transparent;
}

#u119,#u147,#u159,#u173,#u435
{
	text-decoration: underline;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u212,#u214
{
	border-color: #000000;
	background-color: #FF005D;
	position: relative;
}

#u3342,#menuu70,#u116,#u144,#u157,#u170,#u432,#u248,#u253
{
	position: relative;
}

#u260-4,#u262-4
{
	color: #FFFFFF;
	font-size: 23px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
}

